@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome<br />to<br />Coffee Boiiis</h1>
</div>
<br />
<br />
<br />
<br />


<div class="text-center">
    <h1 class="display-8">@Html.ActionLink("Register", "Registration", "Home")</h1>
</div>

